@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/robotoslab/v22/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjo0oSmb2RlV9Su1cai.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: lightblue;
    font-size: larger;
    font-family: 'Roboto';
}

#content {
  max-width: 80%;
  margin: 0 auto;
}

#tab {

}

.calendar {
}

h1 {
  text-align: center;
  font-family: 'Roboto Slab';
}

/* Style the tab */
.tab {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 33.33%;
}
  
.tab button {
      background-color: #85C1E9;
}

  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: white;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
}


.table {
}

tr {
}
